* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	background: radial-gradient(circle, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%);
	font-family: "Roboto", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: background 0.5s ease-in;
	overflow: hidden;
}
body:before {
	background: radial-gradient(circle, rgba(185, 204, 236, 1) 0%, rgba(1, 17, 87, 1) 100%);
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	content: "";
	mix-blend-mode: soft-light;
}

h1 {
	position: fixed;
	top: 120px;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	max-width: 640px;
	margin-bottom: 20px;
	filter: drop-shadow(0px 0px 12px white) drop-shadow(0px 0px 3px white);
}

.hangman {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	margin-bottom: 20px;
	transform-origin: bottom center;
	width: 90%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.hangman svg {
	transform-origin: bottom center;
	width: 100%;
}

.input {
	position: fixed;
	bottom: 60px;
	left: 50%;
	transform: translateX(-50%);
}

.written-letters {
	letter-spacing: 10px;

	color: gray;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.written-letters span {
	font-size: 21px;
	animation: enter 0.3s 1 forwards;
	display: inline-block;
	transform-origin: center center;
	color: rgba(0, 0, 0, 0.7);
	font-weight: 900;
}

.letters {
	text-transform: uppercase;
	margin-bottom: 20px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.letters span {
	padding: 10px 16px;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 8px;
	font-size: 26px;
	font-weight: bold;
	border-bottom: 4px solid black;
	margin-left: 3px;
	margin-right: 3px;
	min-width: 48px;
	min-height: 52px;
	display: inline-block;
}
.active {
	color: white;
	background: royalblue !important;
	animation: active 0.4s 1 forwards;
}

@keyframes active {
	0% {
		outline: 24px solid rgba(0, 0, 255, 0.2);
		scale: 2;
	}
	100% {
		outline: 0px solid rgba(0, 0, 255, 0);
		scale: 1;
	}
}

@keyframes enter {
	from {
		opacity: 0;
		filter: drop-shadow(0 0 6px yellow) drop-shadow(0 0 25px white);
		scale: 16;
	}
	to {
		filter: drop-shadow(0 0 3px white) drop-shadow(0 0 1px white);
		opacity: 1;
		scale: 1;
	}
}
p {
	font-weight: 600;
	font-size: 24px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-style: italic;
	color: rgba(0, 0, 0, 0.5);
	animation: ptag 0.3s infinite alternate-reverse;
}

@keyframes ptag {
	0% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

#ground,
#head,
#arms,
#legs,
#scaffold,
#body {
	display: none;
}

.shake {
	animation: shake 0.4s linear 1 forwards;
}
@keyframes shake {
	0% {
		rotate: 4deg;
	}
	20% {
		rotate: -2deg;
	}
	40% {
		rotate: 1deg;
	}
	60% {
		rotate: -0.5deg;
	}
	100% {
		rotate: 0deg;
	}
}

.points-container {
	position: fixed;
	bottom: 20px;
	left: 50%;
	text-align: right;
	color: yellow;
	font-weight: bold;
	transform: translateX(-50%);
	font-size: 26px;
	text-align: center;
	filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black) drop-shadow(0 0 1px black);

	padding: 10px 40px;
	border-radius: 8px;
}

.score {
	color: white;
	position: fixed;
	top: 20px;
	right: 20px;
	text-align: right;
}

.multiplier {
	position: fixed;
	display: block;
	transform-origin: center left;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	font-weight: bold;
	font-size: 42px;
	filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black) drop-shadow(0 0 1px black);
	color: yellow;
}

.multion {
	animation: multi 0.5s 1 forwards;
}

@keyframes multi {
	0% {
		scale: 2.5;
	}
	100% {
		scale: 1;
	}
}

#audio {
	display: none;
}

.circle {
	position: fixed;
	left: 50%;
	top: 50%;
	transform-origin: top left;
	transform: translateX(-50%) translateY(-50%);
	width: 200px;
	height: 200px;
	border-radius: 100%;
	border: 20px solid yellow;
	content: "";
	display: block;
	animation: circlewin 0.5s 1 ease-out forwards;
}

@keyframes circlewin {
	0% {
		opacity: 1;
		scale: 1;
	}

	100% {
		opacity: 0;
		scale: 12;
	}
}

#countdown {
	position: fixed;
	content: "";
	display: block;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 28vw;
	opacity: 0.1;
	z-index: -1;
	text-align: center;
	font-weight: 700;
	mix-blend-mode: soft-light;
}
