* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	background: radial-gradient(circle, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%);
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: background 0.5s ease-in;
}

h1 {
	margin-bottom: 20px;
}

.hangman {
	margin-bottom: 20px;
	transform-origin: bottom center;
}

.written-letters {
	letter-spacing: 10px;
	font-size: 18px;
	color: gray;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.written-letters span {
	animation: enter 0.3s 1 forwards;
	display: inline-block;
	transform-origin: center center;
}

.letters {
	text-transform: uppercase;
	margin-bottom: 20px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.letters span {
	padding: 10px 16px;
	background: #e1e1e1;
	border-radius: 8px;
	font-size: 24px;
	font-weight: bold;
	border-bottom: 4px solid black;
	margin-left: 2px;
	margin-right: 2px;
	min-width: 48px;
	min-height: 52px;
	display: inline-block;
}
.active {
	color: white;
	background: royalblue !important;
	animation: active 0.4s 1 forwards;
}

@keyframes active {
	0% {
		scale: 2;
	}
	100% {
		scale: 1;
	}
}
@keyframes enter {
	from {
		opacity: 0;
		scale: 16;
	}
	to {
		opacity: 1;
		scale: 1;
	}
}
p {
	font-style: italic;
	color: gray;
}

#ground,
#head,
#arms,
#legs,
#scaffold,
#body {
	display: none;
}

.shake {
	animation: shake 0.4s linear 1 forwards;
}
@keyframes shake {
	0% {
		rotate: 4deg;
	}
	20% {
		rotate: -2deg;
	}
	40% {
		rotate: 1deg;
	}
	60% {
		rotate: -0.5deg;
	}
	100% {
		rotate: 0deg;
	}
}

.points-container {
	position: fixed;
	bottom: 20px;
	left: 50%;
	text-align: right;
	color: yellow;
	font-weight: bold;
	transform: translateX(-50%);
	font-size: 26px;
	text-align: center;
	background: black;

	padding: 10px 40px;
	border-radius: 8px;
}

.score {
	color: white;
	position: fixed;
	top: 20px;
	right: 20px;
	text-align: right;
}

.multiplier {
	position: fixed;
	top: 20px;
	left: 50%;
	transform: translateX(-50%);
	font-weight: bold;
	font-size: 42px;
}
